.nav-custom {
    padding: 0;
}

.navbar-container {
    background: #00000070;
}

.navbar-nav-custom {
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.dropdown-menu-custom {
    position: absolute;
    margin: -4px -5px 0px;
}

.nav-icons img {
    width: 40px;
    padding-bottom: 7px;
}

.user-table {
    margin-bottom: 0rem;
}

.user-link {
    color: black;
    font-weight: 700;
    font-size: small;
}

.android-icon {
    width: 32px;
    padding-bottom: 18px;
}

.navigard-container {
    background: #000000cc;
}

.navigard-logo {
    width: 50%;
    padding: 10px;
} 

/* Потенциально неиспользуемые классы */
/*
.user-table-gradient {
    background: rgb(222,252,186);
    background: linear-gradient(180deg, 
        rgba(222,252,186,0.82) 5%, 
        rgba(224,255,203,0.64) 16%, 
        rgba(229,252,217,0.8) 74%
    );
}

.footer-alert {
    padding: 0rem 25%;
    border-radius: 0;
}
*/ 